<div class="container-fluid order">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="well well-md">
				<p>
				  <strong>Email:</strong>
				  <%= @admin.email %>
				</p>
				<p>
				  <strong>User Name:</strong>
				  <%= @admin.user_name %>
				</p>
				<%= link_to 'Edit', edit_admin_path(@admin) %> |
				<%= link_to 'Back', admins_path %>
      </div>
    </div>
  </div>
</div>