<section>    
    <div class="container feedback">
    <div class="row">
        <div class="col-md-offset-3 col-md-8">
<h4 style="margin-top: 20px">Your feedback is posted.<br>Thank you for submitting the feedback</h4>
</div>
</div>
</div>
</section>