<div class="container-fluid order">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="well well-md">
		Your feedback is posted.<br>Thank you for submitting the feedback</h4>
	  </div>
    </div>
  </div>
 </div>
