<div class="container-fluid order">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="well well-md">
      	<p>
		  <strong>Email:</strong>
		  <%= @email.email %>
		</p>
		<p>
		  <strong>User Name:</strong>
		  <%= @email.user_name %>
		</p>
		<%= link_to 'Edit', edit_email_path(@email) %> |
		<%= link_to 'Back', emails_path %>
      </div>
    </div>
  </div>
</div>